<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccpv.dao.CommentDao">

    <insert id="addComment" parameterType="com.ccpv.bean.Comment">
        insert into tb_comment(AId, AName, CTime, CContent, UAccount)
        values (#{AId}, #{AName}, #{CTime}, #{CContent}, #{UAccount})
    </insert>

    <delete id="deleteComment" parameterType="int">
        delete from tb_comment where CId = #{CId}
    </delete>

    <delete id="deleteCommentByAId" parameterType="int">
        delete from tb_comment where AId = #{AId}
    </delete>

    <select id="getCommentByAId" parameterType="int" resultType="com.ccpv.bean.Comment">
        select * from tb_comment where AId = #{AId}
    </select>

    <select id="getCommentByUAccount" parameterType="String" resultType="com.ccpv.bean.Comment">
        select * from tb_comment where UAccount = #{UAccount}
    </select>

</mapper>